html, body {
  padding: 0px;
  margin: 0px;
}

#tablet {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

#canvas-a, #canvas-b {
  position: absolute;
  top: 0px;
  left: 0px;
}

#canvas-b {
  z-index: 999;
}
